# Flutter
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.idea/
.vscode/
*.iml

# Backend (Python)
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.sqlite3
*.log
*.db
*.egg-info/
*.egg
*.env
uploads/
